


/*reset css*/

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body {
    margin: 0;
    font-family : "montserrat", sans serif;
    background: linear-gradient(white , grey);

    

}
header {

    padding: 20px 0;
    background: linear-gradient(#0e72de, #d3d9e0);
    box-shadow: 0 4px 6px rgba(0,0,0,.2);

}
.container {

padding: 0 20px;
max-width: 960px;
margin: 0 auto;

}
.logo-box {

    float: left;
    margin-right: 40px;
}
.logo-box a {
outline: none;
display: block;

}
.logo-box img {

display: block;

}
nav {
    overflow: hidden;
}
u1 {

list-style: none;
margin: 0;
padding: 0;
float: right;



}
nav li {

display: inline-block;
margin-left: 25px;
height: 70px;
line-height: 70px;
transition: .5s linear;


}
nav a{

text-decoration: none;
display: block;
position: relative;
color: #fff;
text-transform: uppercase;


}
nav a:after {

content: "";
width: 0;
height: 2px;
position: absolute;
left: 0;
bottom: 15px;
background: #4f89df;
transition: width .5s linear;



}
nav a:hover:after {

width: 100%;

}

@media screen and(max-width: 660px){

header {text-align: center}
.logo-box {
float: none;
display: inline-block;
margin: 0 0 30px 0; 

}

ul {float: none;}
nav li:first-of-type {margin-left: 0;}
}
@media screen  and (max-width: 550px) {
nav {overflow: visible}
nav li {

display: block;
margin: 0;
height: 40px;
line-height: 40px;

}   
nav li:bover {background: rgba (0,0,0,.1);}
nav a:after {content: none;} 
}



.flex {
display:flex;

flex-wrap: wrap;
height: 200px;
width: 70%;
align-items: baselines;
justify-content: space-between;
position: absolute;
margin-left: -10%;
margin-top: 5%;
flex-wrap: wrap;
}



.flex div {

width: 100px;
border: solid 1px #000;
margin: 30px;
flex-wrap: wrap;

}
.flex div:nth-child(1) {
    height:350px;
    width: 300px;
    bottom: 0;
    justify-content: space-around;
    border-radius: 5%;
   
}

.flex div:nth-child(2) {

height:450px;
width: 400px;
border-radius: 5%;

}
.flex div:nth-child(3) {

    height:250px;
    width: 260px;
    border-radius: 5%;
}

.flex div:nth-child(4) {
align-items: center;
align-self: flex-end;
width: 250px;
height: 60px;
border-radius: 5%;
margin-left: -15%;
flex-wrap: wrap;
order: 3;
margin-bottom: -8%;
margin-right: -5%;
}



.y.proximity-scroll-snapping {
    scroll-snap-type: y proximity;

}
h1 {

color: #9d4343;

}
.logo-box img{

    display: flex;
    height: 95px;
}

